*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.clock-container{
  height: 180px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #282c34;
  color: #61dafb;
}
h1{
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 36px;
}
.time{
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
}
