*{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.container{
  max-width: 400px;
  padding: 20px;
  margin: 60px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #222121;
}
h1{
  margin-bottom: 20px;
  color: #fff;
}
form{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
input{
  flex: 1;
  padding: 10px;
  border: 2px solid #a8a8a8d2;
  border-radius: 6px;
}
input:active, input:focus{
  outline: none;
  border-color: #00cad8;
}
button{
  padding: 10px 14px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  background-color: #a8a8a8d2;
  border-radius: 6px;
  color: white;
}
button:hover{
  background-color: #ea3a00;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  color: #fff;
}
li span{
  cursor: pointer;
  font-size: 16px;
}
li.completed span{
  text-decoration: line-through;
  opacity: 0.7;
}
.actions button{
  margin-left: 6px;
  background-color: rgba(0, 0, 0, 0.4);
}
